{% load i18n %}

<!--begin::Sidebar secondary menu-->
<div id="kt_app_sidebar_menu" data-kt-menu="true"
     class="menu menu-sub-indention menu-rounded menu-column menu-active-bg menu-title-gray-600 menu-icon-gray-500 menu-state-primary menu-arrow-gray-500 fw-semibold fs-6 py-4 py-lg-6 ms-lg-n7 px-2 px-lg-0">
    <div id="kt_app_sidebar_menu_wrapper" class="hover-scroll-y px-1 px-lg-5" data-kt-sticky="true"
         data-kt-sticky-name="app-sidebar-menu-sticky"
         data-kt-sticky-offset="{default: false, xl: '500px'}"
         data-kt-sticky-release="#kt_app_stats" data-kt-sticky-width="250px"
         data-kt-sticky-left="auto" data-kt-sticky-top="100px" data-kt-sticky-animation="false"
         data-kt-sticky-zindex="95" data-kt-scroll="true"
         data-kt-scroll-activate="{default: true, lg: true}" data-kt-scroll-height="auto"
         data-kt-scroll-dependencies="#kt_app_header, #kt_app_header"
         data-kt-scroll-wrappers="#kt_app_sidebar_menu" data-kt-scroll-offset="20px">
        <!--begin:Menu item-->
        <div class="menu-item">
            <!--begin:Menu content-->
            <div class="menu-content">
                <span class="menu-section fs-5 fw-bolder ps-1 py-1">{% trans 'Menu' %}</span>
            </div>
            <!--end:Menu content-->
        </div>
        <!--end:Menu item-->
        <!--begin:Menu item-->
        <div data-kt-menu-trigger="click" class="menu-item menu-accordion">
            <!--begin:Menu link-->
            <span class="menu-link">
                    <span class="menu-icon">
                        <i class="ki-outline ki-calendar-8 fs-2"></i>
                    </span>
                    <span class="menu-title">{% trans 'Schedule' %}</span>
                    <span class="menu-arrow"></span>
                </span>
            <!--end:Menu link-->
            <!--begin:Menu sub-->
            <div class="menu-sub menu-sub-accordion">
                <!--begin:Menu item-->
                <div class="menu-item">
                    <!--begin:Menu link-->
                    <a class="menu-link" href="{% url 'psychology_schedule' %}">
                        <span class="menu-bullet">
                            <span class="bullet bullet-dot"></span>
                        </span>
                        <span class="menu-title">{% trans 'My schedules' %}</span>
                    </a>
                    <!--end:Menu link-->
                </div>
                <!--end:Menu item-->
            </div>
            <!--end:Menu sub-->
        </div>
        <!--end:Menu item-->
        <!--begin:Menu item-->
        <div data-kt-menu-trigger="click" class="menu-item menu-accordion">
            <!--begin:Menu link-->
            <span class="menu-link">
                <span class="menu-icon">
                    <i class="ki-outline ki-chart fs-2"></i>
                </span>
                <span class="menu-title">{% trans 'Support Center' %}</span>
                <span class="menu-arrow"></span>
            </span>
            <!--end:Menu link-->
            <!--begin:Menu sub-->
            <div class="menu-sub menu-sub-accordion">
                <!--begin:Menu item-->
                <div data-kt-menu-trigger="click" class="menu-item menu-accordion mb-1">
                    <!--begin:Menu link-->
                    <a href="{% url 'faq_list' %}">
                        <span class="menu-link">
                            <span class="menu-bullet">
                                <span class="bullet bullet-dot"></span>
                            </span>
                            <span class="menu-title">{% trans 'FAQ' %}</span>
                        </span>
                    </a>
                    <!--end:Menu link-->
                    <!--begin:Menu link-->
                    <a href="{% url 'contact_us' %}">
                        <span class="menu-link">
                        <span class="menu-bullet">
                            <span class="bullet bullet-dot"></span>
                        </span>
                        <span class="menu-title">{% trans 'Contact Us' %}</span>
                    </span>
                    </a>
                    <!--end:Menu link-->
                </div>
                <!--end:Menu item-->
            </div>
            <!--end:Menu sub-->
        </div>
        <!--end:Menu item-->
    </div>
</div>
<!--end::Sidebar secondary menu-->